Repository vriesdemichael/keycloak-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, mkdocs-build, validate-decisions

helm-lint:
  name: helm lint
  entry: bash -c 'helm lint charts/keycloak-operator'
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: uv run --group docs mkdocs build
  language: system
  pass_filenames: false

validate-decisions:
  name: validate decision records
  entry: uv run scripts/adr_validator.py --validate
  language: system
  pass_filenames: false

feat(operator): implement integration test coverage collection via SIGUSR1
  Makefile
  docs/decisions/067-integration-test-coverage-via-sigusr1.yaml
  images/operator/Dockerfile.test
  images/operator/coveragerc.container
  scripts/retrieve-coverage.sh
  src/keycloak_operator/operator.py
  test-inject/sitecustomize.py
  tests/integration/conftest.py
Due: mkdocs-build, validate-decisions

fix: prevent premature operator cleanup in pytest-xdist workers
  tests/integration/conftest.py
Due: none

chore: fix Codecov path configuration and prevent config conflicts
  .github/workflows/ci-cd.yml
  codecov.yml
Due: none

fix: remove duplicate coverage retrieval code
  tests/integration/conftest.py
Due: none

fix: create coverage directory in container and fix collection workflow
  .github/workflows/ci-cd.yml
  images/operator/Dockerfile.test
Due: none

fix: use sync client for kubernetes stream() calls
  tests/integration/conftest.py
Due: none

feat(operator): complete integration coverage collection
  TODO/coverage.md
Due: none

chore: add path mapping for GitHub Actions and Codecov
  .coveragerc
  codecov.yml
  images/operator/coveragerc.container
Due: none

feat(operator): add coverage retrieval function (reformatted)
  tests/integration/conftest.py
Due: none

fix: make coverage scripts executable and share unit coverage with integration tests
  .github/workflows/ci-cd.yml
  scripts/combine-coverage.sh
  scripts/retrieve-coverage.sh
Due: none

fix: streamline coverage workflow - remove merging, retrieve integration coverage immediately
  .github/workflows/ci-cd.yml
Due: none

chore: correct Codecov action parameters and enable fail on error
  .github/workflows/ci-cd.yml
Due: none

chore: add OpenSSF Scorecard workflow for security best practices
  .github/workflows/scorecard.yml
Due: none

chore: add security badges and fix Codecov integration issues
  .github/workflows/ci-cd.yml
  README.md
Due: none

fix: send SIGTERM instead of deleting pod for coverage
  tests/integration/conftest.py
Due: none

fix: only retrieve coverage on last worker exit
  tests/integration/conftest.py
Due: none

fix: preserve binary data when retrieving coverage files
  tests/integration/conftest.py
Due: none

fix: prevent premature operator cleanup in pytest-xdist workers
  TODO/token-system-cleanup.md
  docs/architecture.md
  docs/faq.md
  docs/how-to/smtp-configuration.md
  docs/identity-providers.md
  docs/operations/migration.md
  docs/operations/troubleshooting.md
  examples/02-realm-example.yaml
  examples/03-client-example.yaml
  examples/realm-with-azure-ad-idp.yaml
  examples/realm-with-custom-oidc-idp.yaml
  examples/realm-with-github-idp.yaml
  examples/realm-with-google-idp.yaml
  src/keycloak_operator/models/common.py
  tests/unit/test_models.py
Due: mkdocs-build

chore: remove backup file and prevent future backup files
  .gitignore
  tests/integration/test_drift_detection.py.backup
Due: none

docs: bulk cleanup of authorizationSecretRef in chart READMEs
  charts/README.md
  charts/examples/extraManifests-examples.md
  charts/keycloak-client/README.md
  charts/keycloak-operator/README.md
  charts/keycloak-realm/README.md
Due: helm-lint

fix: replace old keycloak.mdvr.nl API group with vriesdemichael.github.io
  .github/ISSUE_TEMPLATE/issue.yml
  .github/workflows/ci-cd.yml
  TODO/authorizationSecretRef-cleanup-phase2.md
Due: none

docs: remove authorizationSecretRef from observability and reference docs
  docs/observability.md
  docs/rbac-implementation.md
  docs/reference/keycloak-crd.md
Due: mkdocs-build

docs: clean authorizationSecretRef from CRD reference docs
  docs/reference/keycloak-client-crd.md
  docs/reference/keycloak-realm-crd.md
Due: mkdocs-build

docs: bulk cleanup remaining authorizationSecretRef references
  docs/how-to/end-to-end-setup.md
  docs/how-to/multi-tenant.md
  docs/operations/troubleshooting.md
Due: mkdocs-build

docs: rewrite troubleshooting authorization section
  docs/operations/troubleshooting.md
Due: mkdocs-build

docs: rewrite end-to-end-setup guide sections 5-6 and 9.5
  docs/how-to/end-to-end-setup.md
  docs/how-to/multi-tenant.md
Due: mkdocs-build

docs: add deprecation notices to token-based documentation
  charts/README.md
  docs/how-to/end-to-end-setup.md
  docs/how-to/multi-tenant.md
Due: mkdocs-build

docs: final cleanup of remaining token references
  charts/keycloak-operator/README.md
  charts/keycloak-realm/README.md
  docs/development.md
  docs/faq.md
  docs/how-to/end-to-end-setup.md
  docs/how-to/multi-tenant.md
  docs/operations/migration.md
  docs/operations/troubleshooting.md
  docs/rate-limiting-implementation-plan.md
  docs/reference/keycloak-realm-crd.md
  src/keycloak_operator/observability/metrics.py
Due: helm-lint, mkdocs-build

feat(operator): require secret refs for IDP secrets
  examples/realm-with-azure-ad-idp.yaml
  examples/realm-with-custom-oidc-idp.yaml
  examples/realm-with-github-idp.yaml
  examples/realm-with-google-idp.yaml
  src/keycloak_operator/models/realm.py
  src/keycloak_operator/services/realm_reconciler.py
  tests/integration/test_identity_provider.py
Due: none

docs: rewrite charts README to remove token system
  charts/README.md
Due: none

test: remove admission token fixtures and usage from integration tests
  tests/integration/conftest.py
  tests/integration/test_finalizers_e2e.py
  tests/integration/test_helm_charts.py
  tests/integration/test_identity_provider.py
  tests/integration/test_oidc_endpoint_discovery.py
  tests/integration/test_realm_smtp_integration.py
  tests/integration/test_service_account_roles.py
Due: none

Path conditions:
  helm-lint: any of: ^charts/keycloak-operator/
  mkdocs-build: any of: ^(docs/|mkdocs\.yml)
  validate-decisions: any of: ^docs/decisions/.*\.yaml$
