Repository vriesdemichael/keycloak-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, mkdocs-build, validate-decisions

helm-lint:
  name: helm lint
  entry: bash -c 'helm lint charts/keycloak-operator'
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: uv run --group docs mkdocs build
  language: system
  pass_filenames: false

validate-decisions:
  name: validate decision records
  entry: uv run scripts/adr_validator.py --validate
  language: system
  pass_filenames: false

fix(chart-operator): update for operator v0.5.4
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-realm 0.3.1
  .github/.release-please-manifest.json
  charts/keycloak-realm/CHANGELOG.md
  charts/keycloak-realm/Chart.yaml
Due: none

chore(main): release chart-operator 0.3.4
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

ci: add docker login for helm chart attestation
  .github/.release-please-manifest.json
  .github/actions/publish-helm-chart/action.yml
  charts/keycloak-realm/CHANGELOG.md
  charts/keycloak-realm/Chart.yaml
Due: none

ci: add docker login for helm chart attestation
  .github/actions/publish-helm-chart/action.yml
Due: none

chore(main): release chart-client 0.3.1
  .github/.release-please-manifest.json
  charts/keycloak-client/CHANGELOG.md
  charts/keycloak-client/Chart.yaml
Due: none

chore(main): release operator-image 0.5.5
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.5.5
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.3.5
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release operator-image 0.5.6
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.5.6
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

Apply suggestions from code review
  docs/how-to/end-to-end-setup.md
Due: mkdocs-build

chore(main): release chart-operator 0.3.6
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release chart-operator 0.3.7
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release operator-image 0.5.7
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release chart-operator 0.3.8
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

Path conditions:
  helm-lint: any of: ^charts/keycloak-operator/
  mkdocs-build: any of: ^(docs/|mkdocs\.yml)
  validate-decisions: any of: ^docs/decisions/.*\.yaml$
