Repository vriesdemichael/keycloak-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, mkdocs-build, validate-decisions

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install with: uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Ruff - Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking with ty (wraps Basedpyright) - MUST pass, not optional
  - repo: local
    hooks:
      - id: type-check
        name: type-check (ty)
        entry: uv run --group quality ty check
        language: system
        types: [python]
        pass_filenames: false
        always_run: true

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., CloudFormation)
        exclude: ^charts/.*/(crds|templates)/.*\.yaml$  # Exclude Helm templates
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Helm chart linting
  - repo: local
    hooks:
      - id: helm-lint
        name: helm lint
        entry: bash -c 'helm lint charts/keycloak-operator'
        language: system
        files: ^charts/keycloak-operator/
        pass_filenames: false

  # Documentation build check
  - repo: local
    hooks:
      - id: mkdocs-build
        name: mkdocs build
        entry: uv run --group docs mkdocs build
        language: system
        files: ^(docs/|mkdocs\.yml)
        pass_filenames: false

  # Decision Records validation
  - repo: local
    hooks:
      - id: validate-decisions
        name: validate decision records
        entry: uv run scripts/adr_validator.py --validate
        language: system
        files: ^docs/decisions/.*\.yaml$
        pass_filenames: false

  # Commit message format checking with scope validation
  - repo: local
    hooks:
      - id: validate-commit-message
        name: validate commit message
        entry: uv run python scripts/validate-commit-message.py
        language: system
        stages: [commit-msg]
        always_run: true

fix: combine coverage and convert to XML for Codecov
  .github/workflows/ci-cd-unified.yml
Due: none

docs: improve operator chart values documentation
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.schema.json
  charts/keycloak-operator/values.yaml
Due: helm-lint

ci: correct job dependencies in all-complete job
  .github/workflows/ci-cd-unified.yml
Due: none

ci: correct job dependencies and cleanup old workflows
  .github/workflows/ci-cd-unified.yml
  .github/workflows/promote-operator.yml
  .github/workflows/release-please.yml
  .github/workflows/update-chart-image-tag.yml
Due: none

refactor: split CI/CD workflow into composite actions
  .github/actions/build-operator/action.yml
  .github/actions/code-quality/action.yml
  .github/actions/integration-tests/action.yml
  .github/actions/publish-helm-chart/action.yml
  .github/actions/publish-operator-image/action.yml
  .github/actions/publish-release-docs/action.yml
  .github/actions/security-scans/action.yml
  .github/actions/unit-tests/action.yml
  .github/actions/update-dev-docs/action.yml
  .github/actions/update-operator-chart/action.yml
  .github/workflows/IMPROVEMENTS.md
  .github/workflows/PARITY_CHECK.md
  .github/workflows/REFACTOR_SUMMARY.md
  .github/workflows/ci-cd-unified.yml
  REFACTOR_COMPLETE.md
  docs/assets/images/favicon.png
  docs/assets/images/logo.png
  mkdocs.yml
Due: mkdocs-build

fix: allow test tags in operator chart schema
  .github/workflows/IMPROVEMENTS.md
  .github/workflows/PARITY_CHECK.md
  .github/workflows/REFACTOR_SUMMARY.md
  REFACTOR_COMPLETE.md
  charts/keycloak-operator/values.schema.json
  docs/assets/images/logo.svg
Due: helm-lint, mkdocs-build

feat: use SVG logo and update favicon
  docs/assets/images/favicon.png
  docs/assets/images/logo.svg
  mkdocs.yml
Due: mkdocs-build

fix: restore correct test image tag for coverage collection
  .github/actions/build-operator/action.yml
  .github/actions/integration-tests/action.yml
  .github/actions/security-scans/action.yml
  charts/keycloak-operator/values.schema.json
Due: helm-lint

fix: restore correct test image tag for coverage collection
  .github/actions/integration-tests/action.yml
Due: none

fix: upload raw coverage files instead of converting to XML
  .github/actions/integration-tests/action.yml
Due: none

fix: use directory parameter for codecov upload
  .github/actions/integration-tests/action.yml
Due: none

fix: use correct operator image tag in integration tests
  tests/integration/conftest.py
Due: none

fix: allow test-* tags in operator chart schema
  charts/keycloak-operator/values.schema.json
Due: helm-lint

fix(operator): enforce scope for release-triggering commits
  scripts/validate-commit-message.py
Due: none
