Repository vriesdemichael/keycloak-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, mkdocs-build, validate-decisions

helm-lint:
  name: helm lint
  entry: bash -c 'helm lint charts/keycloak-operator'
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: uv run --group docs mkdocs build
  language: system
  pass_filenames: false

validate-decisions:
  name: validate decision records
  entry: uv run scripts/adr_validator.py --validate
  language: system
  pass_filenames: false

feat(chart-operator): add 'get' permission for cross-namespace realm reads
  TODO/namespace-grant-authorization.md
  charts/keycloak-operator/templates/02_rbac.yaml
Due: helm-lint

fix: remove await from synchronous API call in capacity check
  src/keycloak_operator/services/realm_reconciler.py
Due: none

fix: update tests and Helm schema for grant list authorization
  TODO/namespace-grant-authorization.md
  charts/keycloak-client/values.schema.json
  tests/integration/conftest.py
  tests/integration/test_service_account_roles.py
Due: none

feat(chart-operator): update CRDs for namespace grant authorization
  TODO/namespace-grant-authorization.md
  charts/keycloak-operator/crds/keycloak-crd.yaml
  charts/keycloak-operator/crds/keycloakclient-crd.yaml
  charts/keycloak-operator/crds/keycloakrealm-crd.yaml
Due: helm-lint

test: add comprehensive tests for grant list and capacity management
  TODO/namespace-grant-authorization.md
  tests/integration/test_grant_list_authorization.py
  tests/unit/test_capacity_management.py
  tests/unit/test_grant_list_validation.py
Due: none

fix: convert snake_case to camelCase in StatusWrapper
  TODO/namespace-grant-authorization.md
  src/keycloak_operator/handlers/client.py
  src/keycloak_operator/handlers/keycloak.py
  src/keycloak_operator/handlers/realm.py
Due: none

fix: add clientAuthorizationGrants to Helm client test
  tests/integration/test_helm_charts.py
Due: none

docs: mark Phase 8 complete - all automated tests passing
  TODO/namespace-grant-authorization.md
Due: none

chore: complete cleanup of old token authorization system
  TODO/namespace-grant-authorization.md
  src/keycloak_operator/handlers/token_rotation.py
  src/keycloak_operator/operator.py
  src/keycloak_operator/services/realm_reconciler.py
  src/keycloak_operator/utils/auth.py
  src/keycloak_operator/utils/secret_manager.py
  src/keycloak_operator/utils/token_manager.py
  tests/unit/test_auth.py
  tests/unit/test_secret_manager.py
  tests/unit/test_token_manager.py
Due: none

test: remove token-based tests and fix integration test fixtures
  TODO/namespace-grant-authorization.md
  docs/decisions/063-namespace-grant-list-authorization.yaml
  src/keycloak_operator/services/client_reconciler.py
  src/keycloak_operator/services/keycloak_reconciler.py
  src/keycloak_operator/services/realm_reconciler.py
  tests/integration/conftest.py
  tests/integration/test_authorization_delegation.py
  tests/integration/test_finalizers_e2e.py
  tests/integration/test_identity_provider.py
  tests/integration/test_oidc_endpoint_discovery.py
  tests/integration/test_operator_lifecycle.py
  tests/integration/test_realm_smtp_integration.py
  tests/integration/test_service_account_roles.py
  tests/integration/test_token_bootstrap.py
  tests/unit/test_realm_smtp.py
Due: mkdocs-build, validate-decisions

chore: update JSON schemas for namespace grant authorization
  TODO/namespace-grant-authorization.md
Due: none

feat(chart-client+chart-realm): update charts for namespace grant authorization
  TODO/namespace-grant-authorization.md
  charts/keycloak-client/Chart.yaml
  charts/keycloak-client/templates/client.yaml
  charts/keycloak-client/values.yaml
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-realm/Chart.yaml
  charts/keycloak-realm/templates/realm.yaml
  charts/keycloak-realm/values.yaml
Due: helm-lint

docs: final tracking update - 36/36 tests passing
  TODO/namespace-grant-authorization.md
Due: none

fix: remove obsolete authorization token references from charts
  TODO/namespace-grant-authorization.md
  charts/examples/client-service-account-values.yaml
  charts/examples/client-values.yaml
  charts/examples/realm-values.yaml
  charts/keycloak-operator/crds/keycloak-crd.yaml
Due: helm-lint

wip: namespace grant authorization - models and reconcilers updated
  TODO/namespace-grant-authorization.md
  docs/decisions/026-three-layer-responsibility-system-with-token-delegation.yaml
  docs/decisions/039-token-rotation-and-bootstrap-flows.yaml
  docs/decisions/063-namespace-grant-list-authorization.yaml
  src/keycloak_operator/models/client.py
  src/keycloak_operator/models/keycloak.py
  src/keycloak_operator/models/realm.py
  src/keycloak_operator/services/client_reconciler.py
  src/keycloak_operator/services/keycloak_reconciler.py
  src/keycloak_operator/services/realm_reconciler.py
  tests/integration/conftest.py
  tests/integration/test_authorization_delegation.py
  tests/integration/test_finalizers_e2e.py
  tests/integration/test_oidc_endpoint_discovery.py
  tests/integration/test_operator_lifecycle.py
  tests/integration/test_service_account_roles.py
  tests/integration/test_token_bootstrap.py
  tests/unit/test_models.py
  tests/unit/test_realm_smtp.py
Due: mkdocs-build, validate-decisions

fix: add clientAuthorizationGrants to finalizer tests
  TODO/namespace-grant-authorization.md
  tests/integration/test_finalizers_e2e.py
Due: none

fix: remove obsolete authorizationSecretName status field
  TODO/namespace-grant-authorization.md.final
  src/keycloak_operator/services/keycloak_reconciler.py
Due: none

fix: update integration tests for grant list authorization
  tests/integration/test_drift_detection.py
  tests/integration/test_grant_list_authorization.py
  tests/integration/test_helm_charts.py
  tests/integration/test_service_account_roles.py
Due: none

fix: remove authorizationSecretRef from Helm values schemas
  charts/keycloak-client/values.schema.json
  charts/keycloak-realm/values.schema.json
Due: none

test: fix unit tests after token system removal
  TODO/namespace-grant-authorization.md
  tests/unit/test_models.py
  tests/unit/test_observedgeneration.py
Due: none

docs: clarify namespace scope requires cluster-wide RBAC
  docs/decisions/054-namespace-watch-scope-configurable.yaml
Due: mkdocs-build, validate-decisions

docs: rename ADR-054 to reflect cluster RBAC requirement
  docs/decisions/054-namespace-watch-scope-requires-cluster-rbac.yaml
Due: mkdocs-build, validate-decisions

Path conditions:
  helm-lint: any of: ^charts/keycloak-operator/
  mkdocs-build: any of: ^(docs/|mkdocs\.yml)
  validate-decisions: any of: ^docs/decisions/.*\.yaml$
