Repository vriesdemichael/keycloak-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, mkdocs-build, validate-decisions

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install with: uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Ruff - Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking with ty (wraps Basedpyright) - MUST pass, not optional
  - repo: local
    hooks:
      - id: type-check
        name: type-check (ty)
        entry: uv run --group quality ty check
        language: system
        types: [python]
        pass_filenames: false
        always_run: true

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., CloudFormation)
        exclude: ^charts/.*/(crds|templates)/.*\.yaml$  # Exclude Helm templates
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Helm chart linting
  - repo: local
    hooks:
      - id: helm-lint
        name: helm lint
        entry: bash -c 'helm lint charts/keycloak-operator'
        language: system
        files: ^charts/keycloak-operator/
        pass_filenames: false

  # Documentation build check
  - repo: local
    hooks:
      - id: mkdocs-build
        name: mkdocs build
        entry: uv run --group docs mkdocs build
        language: system
        files: ^(docs/|mkdocs\.yml)
        pass_filenames: false

  # Decision Records validation
  - repo: local
    hooks:
      - id: validate-decisions
        name: validate decision records
        entry: uv run scripts/adr_validator.py --validate
        language: system
        files: ^docs/decisions/.*\.yaml$
        pass_filenames: false

  # Commit message format checking with scope validation
  - repo: local
    hooks:
      - id: validate-commit-message
        name: validate commit message
        entry: uv run python scripts/validate-commit-message.py
        language: system
        stages: [commit-msg]
        always_run: true

chore(main): release operator-image 0.7.2
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.7.1
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.4.1
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

fix(chart-operator): update for operator v0.7.2
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.4.2
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release chart-operator 0.4.3
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release operator-image 0.7.3
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release chart-client 0.4.1
  .github/.release-please-manifest.json
  charts/keycloak-client/CHANGELOG.md
  charts/keycloak-client/Chart.yaml
Due: none

fix(chart-operator): update for operator v0.7.3
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.4.4
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

feat(operator): add OpenTelemetry distributed tracing support
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/crds/keycloak-crd.yaml
  charts/keycloak-operator/templates/03_operator_deployment.yaml
  charts/keycloak-operator/templates/05_keycloak_cr.yaml
  charts/keycloak-operator/values.schema.json
  charts/keycloak-operator/values.yaml
  docs/decisions/081-opentelemetry-distributed-tracing.yaml
  docs/guides/observability.md
  pyproject.toml
  src/keycloak_operator/models/keycloak.py
  src/keycloak_operator/observability/__init__.py
  src/keycloak_operator/observability/tracing.py
  src/keycloak_operator/operator.py
  src/keycloak_operator/settings.py
  src/keycloak_operator/utils/kubernetes.py
  tests/unit/test_tracing.py
  uv.lock
Due: helm-lint, mkdocs-build, validate-decisions

feat(operator): add OpenTelemetry distributed tracing support
  charts/keycloak-operator/crds/keycloak-crd.yaml
  charts/keycloak-operator/templates/03_operator_deployment.yaml
  charts/keycloak-operator/templates/05_keycloak_cr.yaml
  charts/keycloak-operator/values.schema.json
  charts/keycloak-operator/values.yaml
  docs/decisions/081-opentelemetry-distributed-tracing.yaml
  docs/guides/observability.md
  pyproject.toml
  src/keycloak_operator/models/keycloak.py
  src/keycloak_operator/observability/__init__.py
  src/keycloak_operator/observability/tracing.py
  src/keycloak_operator/operator.py
  src/keycloak_operator/settings.py
  src/keycloak_operator/utils/kubernetes.py
  tests/unit/test_tracing.py
  uv.lock
Due: helm-lint, mkdocs-build, validate-decisions

chore(main): release operator-image 0.7.4
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release chart-operator 0.4.5
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release chart-client 0.4.2
  .github/.release-please-manifest.json
  charts/keycloak-client/CHANGELOG.md
  charts/keycloak-client/Chart.yaml
Due: none

chore(main): release chart-operator 0.4.6
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release chart-realm 0.4.1
  .github/.release-please-manifest.json
  charts/keycloak-realm/CHANGELOG.md
  charts/keycloak-realm/Chart.yaml
Due: none

chore(main): release operator-image 0.7.5
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.7.5
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.4.7
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release operator-image 0.7.6
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none
