Repository vriesdemichael/keycloak-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, mkdocs-build, validate-decisions

helm-lint:
  name: helm lint
  entry: bash -c 'helm lint charts/keycloak-operator'
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: uv run --group docs mkdocs build
  language: system
  pass_filenames: false

validate-decisions:
  name: validate decision records
  entry: uv run scripts/adr_validator.py --validate
  language: system
  pass_filenames: false

fix(chart-operator): update for operator v0.7.6
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.4.8
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release operator-image 0.7.7
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release chart-operator 0.4.9
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

fix(chart-operator): update for operator v0.7.7
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.4.10
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

ci: address review comments on external CRD validation
  docs/guides/observability.md
  docs/operations/secret-rotation.md
  scripts/lib/doc_extractor.py
  scripts/lib/schema_validator.py
  scripts/schemas/external/kyverno-clusterpolicy.schema.json
Due: mkdocs-build

chore(main): release operator-image 0.7.8
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release chart-operator 0.4.11
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

fix(chart-operator): update for operator v0.7.8
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.4.12
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release chart-operator 0.4.13
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release operator-image 0.7.9
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.7.9
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.4.14
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release operator-image 0.7.10
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.7.10
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release operator-image 0.7.11
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

Update dependabot-auto-merge.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore(main): release chart-operator 0.4.15
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

Path conditions:
  helm-lint: any of: ^charts/keycloak-operator/
  mkdocs-build: any of: ^(docs/|mkdocs\.yml)
  validate-decisions: any of: ^docs/decisions/.*\.yaml$
