Repository vriesdemichael/keycloak-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, mkdocs-build, validate-decisions

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install with: uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Ruff - Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking with ty (wraps Basedpyright) - MUST pass, not optional
  - repo: local
    hooks:
      - id: type-check
        name: type-check (ty)
        entry: uv run --group quality ty check
        language: system
        types: [python]
        pass_filenames: false
        always_run: true

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., CloudFormation)
        exclude: ^charts/.*/(crds|templates)/.*\.yaml$  # Exclude Helm templates
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Helm chart linting
  - repo: local
    hooks:
      - id: helm-lint
        name: helm lint
        entry: bash -c 'helm lint charts/keycloak-operator'
        language: system
        files: ^charts/keycloak-operator/
        pass_filenames: false

  # Documentation build check
  - repo: local
    hooks:
      - id: mkdocs-build
        name: mkdocs build
        entry: uv run --group docs mkdocs build
        language: system
        files: ^(docs/|mkdocs\.yml)
        pass_filenames: false

  # Decision Records validation
  - repo: local
    hooks:
      - id: validate-decisions
        name: validate decision records
        entry: uv run scripts/adr_validator.py --validate
        language: system
        files: ^docs/decisions/.*\.yaml$
        pass_filenames: false

  # Commit message format checking with scope validation
  - repo: local
    hooks:
      - id: validate-commit-message
        name: validate commit message
        entry: uv run python scripts/validate-commit-message.py
        language: system
        stages: [commit-msg]
        always_run: true

chore(main): release chart-operator 0.4.15
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

fix(chart-operator): update for operator v0.7.11
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.4.16
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

feat(chart-client+operator): add support for manual client secrets (issue #495)
  charts/keycloak-client/templates/client.yaml
  charts/keycloak-client/values.schema.json
  charts/keycloak-client/values.yaml
  charts/keycloak-operator/crds/keycloakclient-crd.yaml
  docs/reference/keycloak-client-crd.md
  src/keycloak_operator/models/client.py
  src/keycloak_operator/services/client_reconciler.py
  tests/integration/test_client_secret_manual.py
  tests/unit/test_client_secret_manual.py
Due: helm-lint, mkdocs-build

chore(main): release chart-operator 0.4.17
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release operator-image 0.7.12
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release chart-client 0.4.3
  .github/.release-please-manifest.json
  charts/keycloak-client/CHANGELOG.md
  charts/keycloak-client/Chart.yaml
Due: none

fix(chart-operator): update for operator v0.7.12
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.4.18
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release operator-image 0.7.13
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.7.13
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.4.19
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release operator-image 0.7.14
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release operator-image 0.7.15
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release migration-toolkit 0.1.1
  .github/.release-please-manifest.json
  tools/migration-toolkit/CHANGELOG.md
Due: none

chore(main): release operator-image 0.7.16
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release operator-image 0.7.17
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release chart-client 0.4.4
  .github/.release-please-manifest.json
  charts/keycloak-client/CHANGELOG.md
Due: none

chore(main): release chart-operator 0.4.20
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release chart-realm 0.4.2
  .github/.release-please-manifest.json
  charts/keycloak-realm/CHANGELOG.md
  charts/keycloak-realm/Chart.yaml
Due: none

chore(main): release operator-image 0.7.18
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none
