Repository vriesdemichael/keycloak-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, mkdocs-build, validate-decisions

helm-lint:
  name: helm lint
  entry: bash -c 'helm lint charts/keycloak-operator'
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: uv run --group docs mkdocs build
  language: system
  pass_filenames: false

validate-decisions:
  name: validate decision records
  entry: uv run scripts/adr_validator.py --validate
  language: system
  pass_filenames: false

chore(main): release operator-image 0.5.7
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.5.7
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release operator-image 0.5.8
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.5.8
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.3.8
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release chart-operator 0.3.9
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release chart-realm 0.3.2
  .github/.release-please-manifest.json
  charts/keycloak-realm/CHANGELOG.md
  charts/keycloak-realm/Chart.yaml
Due: none

docs: extend doc validation with external schemas and K8s resources
  .github/.release-please-manifest.json
  .pre-commit-config.yaml
  charts/keycloak-realm/CHANGELOG.md
  charts/keycloak-realm/Chart.yaml
  docs/decisions/072-handling-unrecognized-doc-snippets.yaml
  docs/how-to/end-to-end-setup.md
  docs/how-to/ha-deployment.md
  pyproject.toml
  scripts/lib/schema_validator.py
  scripts/schemas/__init__.py
  scripts/schemas/external/cert-manager-values.schema.json
  scripts/schemas/external/cert-manager_crds.yaml
  scripts/schemas/external/cnpg-cluster-crd.yaml
  scripts/schemas/external/cnpg-cluster-values.schema.json
  scripts/schemas/external/cnpg-operator-values.schema.json
  scripts/schemas/external/k8s_definitions.json
  scripts/schemas/external_schemas.py
  uv.lock
Due: mkdocs-build, validate-decisions

docs: extend doc validation with external schemas and K8s resources
  .pre-commit-config.yaml
  docs/decisions/072-handling-unrecognized-doc-snippets.yaml
  docs/how-to/end-to-end-setup.md
  docs/how-to/ha-deployment.md
  pyproject.toml
  scripts/lib/schema_validator.py
  scripts/schemas/__init__.py
  scripts/schemas/external/cert-manager-values.schema.json
  scripts/schemas/external/cert-manager_crds.yaml
  scripts/schemas/external/cnpg-cluster-crd.yaml
  scripts/schemas/external/cnpg-cluster-values.schema.json
  scripts/schemas/external/cnpg-operator-values.schema.json
  scripts/schemas/external/k8s_definitions.json
  scripts/schemas/external_schemas.py
  uv.lock
Due: mkdocs-build, validate-decisions

chore(main): release operator-image 0.5.9
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.5.9
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-client 0.3.2
  .github/.release-please-manifest.json
  charts/keycloak-client/CHANGELOG.md
  charts/keycloak-client/Chart.yaml
Due: none

chore(main): release chart-operator 0.3.10
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release chart-realm 0.3.3
  .github/.release-please-manifest.json
  charts/keycloak-realm/CHANGELOG.md
  charts/keycloak-realm/Chart.yaml
Due: none

chore(main): release chart-realm 0.3.4
  .github/.release-please-manifest.json
  charts/keycloak-realm/CHANGELOG.md
  charts/keycloak-realm/Chart.yaml
Due: none

Path conditions:
  helm-lint: any of: ^charts/keycloak-operator/
  mkdocs-build: any of: ^(docs/|mkdocs\.yml)
  validate-decisions: any of: ^docs/decisions/.*\.yaml$
