Repository vriesdemichael/keycloak-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, mkdocs-build, validate-decisions

helm-lint:
  name: helm lint
  entry: bash -c 'helm lint charts/keycloak-operator'
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: uv run --group docs mkdocs build
  language: system
  pass_filenames: false

validate-decisions:
  name: validate decision records
  entry: uv run scripts/adr_validator.py --validate
  language: system
  pass_filenames: false

docs: rename ADR-054 to reflect cluster RBAC requirement
  docs/decisions/054-namespace-watch-scope-requires-cluster-rbac.yaml
Due: mkdocs-build, validate-decisions

docs: clarify namespace scope requires cluster-wide RBAC
  docs/decisions/054-namespace-watch-scope-configurable.yaml
Due: mkdocs-build, validate-decisions

docs: add ADR-064 rejecting force-delete feature
  docs/decisions/064-no-force-delete-annotation.yaml
Due: mkdocs-build, validate-decisions

feat: implement admission webhooks for resource validation
  charts/keycloak-operator/templates/02_rbac.yaml
  charts/keycloak-operator/templates/03_operator_deployment.yaml
  charts/keycloak-operator/templates/04_webhook_config.yaml
  charts/keycloak-operator/templates/04_webhook_service.yaml
  charts/keycloak-operator/values.yaml
  src/keycloak_operator/constants.py
  src/keycloak_operator/operator.py
  src/keycloak_operator/webhooks/__init__.py
  src/keycloak_operator/webhooks/client.py
  src/keycloak_operator/webhooks/keycloak.py
  src/keycloak_operator/webhooks/realm.py
Due: helm-lint

chore: update values.schema.json for webhook configuration
  charts/keycloak-operator/values.schema.json
Due: helm-lint

test: add comprehensive tests for admission webhooks
  tests/integration/test_webhooks_e2e.py
  tests/unit/test_webhooks.py
Due: none

fix: disable webhooks by default to avoid bootstrap issues
  charts/keycloak-operator/values.yaml
Due: helm-lint

fix: proper webhook bootstrap with readiness probe and ArgoCD sync waves
  charts/keycloak-operator/templates/03_operator_deployment.yaml
  charts/keycloak-operator/templates/05_keycloak_cr.yaml
  charts/keycloak-operator/values.yaml
  tests/integration/conftest.py
Due: helm-lint

fix: add certbuilder dependency and fix webhook RBAC permissions
  charts/keycloak-operator/templates/02_rbac.yaml
  pyproject.toml
  uv.lock
Due: helm-lint

refactor: use kopf[dev] extra instead of manual certbuilder
  pyproject.toml
  uv.lock
Due: none

docs: add admission webhook documentation and decision record
  README.md
  charts/keycloak-operator/values.yaml
  docs/admission-webhooks.md
  docs/decisions/033-custom-resource-definitions-as-api.yaml
  docs/decisions/040-admission-webhooks-for-validation.yaml
Due: helm-lint, mkdocs-build, validate-decisions

fix: add missing RBAC permissions and correct readiness probe port
  charts/keycloak-operator/templates/02_rbac.yaml
  charts/keycloak-operator/templates/03_operator_deployment.yaml
Due: helm-lint

fix: use httpGet probe instead of exec with wget
  charts/keycloak-operator/templates/03_operator_deployment.yaml
Due: helm-lint

fix: add patch permission for pods in namespace Role
  charts/keycloak-operator/templates/02_rbac.yaml
  tests/integration/conftest.py
Due: helm-lint

fix: remove tests for deleted periodic_leadership_check function
  charts/keycloak-operator/templates/02_rbac.yaml
  src/keycloak_operator/observability/leader_election.py
  tests/unit/test_leader_election_failures.py
Due: helm-lint

fix: add get permission for CRDs in ClusterRole
  charts/keycloak-operator/templates/02_rbac.yaml
Due: helm-lint

fix: configure webhook server with service DNS hostname
  src/keycloak_operator/operator.py
Due: none

fix: remove webhook config template, let Kopf manage it
  charts/keycloak-operator/templates/04_webhook_config.yaml
Due: helm-lint

fix: import all webhook modules to register handlers
  src/keycloak_operator/operator.py
Due: none

fix: disable webhook auto-management and default to false
  charts/keycloak-operator/values.yaml
  src/keycloak_operator/operator.py
Due: helm-lint

feat(webhooks): switch to cert-manager for webhook TLS certificates
  Makefile
  charts/keycloak-operator/templates/03_operator_deployment.yaml
  charts/keycloak-operator/templates/04_webhook_service.yaml
  charts/keycloak-operator/templates/05_webhook_configuration.yaml
  charts/keycloak-operator/values.yaml
  docs/admission-webhooks.md
  docs/decisions/040-admission-webhooks-for-validation.yaml
  docs/decisions/065-webhook-certificate-management-with-cert-manager.yaml
  pyproject.toml
  scripts/install-cert-manager.sh
  src/keycloak_operator/operator.py
  src/keycloak_operator/webhooks/client.py
  src/keycloak_operator/webhooks/keycloak.py
  src/keycloak_operator/webhooks/realm.py
  tests/integration/conftest.py
  tests/integration/test_finalizers_e2e.py
  tests/integration/test_webhooks_e2e.py
  uv.lock
Due: helm-lint, mkdocs-build, validate-decisions

test: mark cascading deletion test as skip (flaky)
  tests/integration/test_finalizers_e2e.py
  tests/integration/test_grant_list_authorization.py
  tests/integration/test_oidc_endpoint_discovery.py
  tests/integration/test_operator_lifecycle.py
Due: none

ci: add cert-manager installation to integration tests
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  helm-lint: any of: ^charts/keycloak-operator/
  mkdocs-build: any of: ^(docs/|mkdocs\.yml)
  validate-decisions: any of: ^docs/decisions/.*\.yaml$
