Repository vriesdemichael/keycloak-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, mkdocs-build, validate-decisions

helm-lint:
  name: helm lint
  entry: bash -c 'helm lint charts/keycloak-operator'
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: uv run --group docs mkdocs build
  language: system
  pass_filenames: false

validate-decisions:
  name: validate decision records
  entry: uv run scripts/adr_validator.py --validate
  language: system
  pass_filenames: false

docs(chart-operator): remove all admission token documentation
  charts/keycloak-operator/README.md
Due: helm-lint

fix: replace old keycloak.mdvr.nl API group with vriesdemichael.github.io
  .github/ISSUE_TEMPLATE/issue.yml
  .github/workflows/ci-cd.yml
  TODO/authorizationSecretRef-cleanup-phase2.md
Due: none

docs: clean authorizationSecretRef from CRD reference docs
  docs/reference/keycloak-client-crd.md
  docs/reference/keycloak-realm-crd.md
Due: mkdocs-build

docs: add deprecation notices to token-based documentation
  charts/README.md
  docs/how-to/end-to-end-setup.md
  docs/how-to/multi-tenant.md
Due: mkdocs-build

docs: rewrite charts README to remove token system
  charts/README.md
Due: none

test: remove authorizationSecretRef from realm_cr_factory
  tests/integration/conftest.py
Due: none

docs: add Keycloak brand colors and improved styling
  docs/stylesheets/extra.css
  mkdocs.yml
Due: mkdocs-build

docs: enhance dark mode styling with better contrast
  docs/stylesheets/extra.css
  mkdocs.yml
Due: mkdocs-build

docs: reorganize navigation structure to reduce tab overflow
  docs/concepts/architecture.md
  docs/concepts/security.md
  docs/development.md
  docs/faq.md
  docs/guides/drift-detection.md
  docs/guides/identity-providers.md
  docs/guides/observability.md
  docs/index.md
  docs/reference/keycloak-realm-crd.md
  mkdocs.yml
Due: mkdocs-build

docs: fix tab text readability and all broken links
  docs/concepts/architecture.md
  docs/concepts/security.md
  docs/guides/identity-providers.md
  docs/how-to/end-to-end-setup.md
  docs/how-to/multi-tenant.md
  docs/operations/migration.md
  docs/operations/troubleshooting.md
  docs/quickstart/README.md
  docs/reference/keycloak-client-crd.md
  docs/reference/keycloak-crd.md
  docs/stylesheets/extra.css
Due: mkdocs-build

docs: add Mermaid diagram support and hide home TOC
  docs/index.md
  mkdocs.yml
Due: mkdocs-build

docs: move Home into Getting Started section
  mkdocs.yml
Due: mkdocs-build

docs: add Decision Records as separate tab with tag filtering
  mkdocs.yml
Due: mkdocs-build

docs: replace tags plugin with manual categorization for decision records
  mkdocs.yml
Due: mkdocs-build

docs: fix ASCII diagram spacing and automate decision index
  docs/rbac-implementation.md
  scripts/build-adr-docs.sh
  scripts/update-decision-index.py
Due: mkdocs-build

ci: skip codecov for dependabot PRs and optimize CI runs
  .github/release-please-config.json
  .github/workflows/ci-cd.yml
  .github/workflows/pages-dev.yml
  RELEASES.md
Due: none

Path conditions:
  helm-lint: any of: ^charts/keycloak-operator/
  mkdocs-build: any of: ^(docs/|mkdocs\.yml)
  validate-decisions: any of: ^docs/decisions/.*\.yaml$
