Repository vriesdemichael/keycloak-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, mkdocs-build, validate-decisions

helm-lint:
  name: helm lint
  entry: bash -c 'helm lint charts/keycloak-operator'
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: uv run --group docs mkdocs build
  language: system
  pass_filenames: false

validate-decisions:
  name: validate decision records
  entry: uv run scripts/adr_validator.py --validate
  language: system
  pass_filenames: false

docs(chart-operator): remove all admission token documentation
  charts/keycloak-operator/README.md
Due: helm-lint

docs: update FAQ and end-to-end guide to remove token references
  docs/faq.md
  docs/how-to/end-to-end-setup.md
Due: mkdocs-build

fix(chart-operator): remove admission token configuration from values
  charts/keycloak-operator/templates/01_admission_token.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

test: remove unused fixtures from conftest
  tests/integration/conftest.py
Due: none

test: remove authorizationSecretRef from realm_cr_factory
  tests/integration/conftest.py
Due: none

test: fix broken test assignments and restore operator_instance_id fixture
  tests/integration/conftest.py
  tests/integration/test_oidc_endpoint_discovery.py
  tests/integration/test_service_account_roles.py
Due: none

docs: rewrite end-to-end-setup guide sections 5-6 and 9.5
  docs/how-to/end-to-end-setup.md
  docs/how-to/multi-tenant.md
Due: mkdocs-build

docs: add deprecation notices to token-based documentation
  charts/README.md
  docs/how-to/end-to-end-setup.md
  docs/how-to/multi-tenant.md
Due: mkdocs-build

docs: final cleanup of remaining token references
  charts/keycloak-operator/README.md
  charts/keycloak-realm/README.md
  docs/development.md
  docs/faq.md
  docs/how-to/end-to-end-setup.md
  docs/how-to/multi-tenant.md
  docs/operations/migration.md
  docs/operations/troubleshooting.md
  docs/rate-limiting-implementation-plan.md
  docs/reference/keycloak-realm-crd.md
  src/keycloak_operator/observability/metrics.py
Due: helm-lint, mkdocs-build

chore: remove backup file and prevent future backup files
  .gitignore
  tests/integration/test_drift_detection.py.backup
Due: none

test: remove admission token fixtures and usage from integration tests
  tests/integration/conftest.py
  tests/integration/test_finalizers_e2e.py
  tests/integration/test_helm_charts.py
  tests/integration/test_identity_provider.py
  tests/integration/test_oidc_endpoint_discovery.py
  tests/integration/test_realm_smtp_integration.py
  tests/integration/test_service_account_roles.py
Due: none

docs: bulk cleanup of authorizationSecretRef in chart READMEs
  charts/README.md
  charts/examples/extraManifests-examples.md
  charts/keycloak-client/README.md
  charts/keycloak-operator/README.md
  charts/keycloak-realm/README.md
Due: helm-lint

docs: rewrite troubleshooting authorization section
  docs/operations/troubleshooting.md
Due: mkdocs-build

docs: remove authorizationSecretRef from observability and reference docs
  docs/observability.md
  docs/rbac-implementation.md
  docs/reference/keycloak-crd.md
Due: mkdocs-build

docs: bulk cleanup remaining authorizationSecretRef references
  docs/how-to/end-to-end-setup.md
  docs/how-to/multi-tenant.md
  docs/operations/troubleshooting.md
Due: mkdocs-build

fix: prevent premature operator cleanup in pytest-xdist workers
  TODO/token-system-cleanup.md
  docs/architecture.md
  docs/faq.md
  docs/how-to/smtp-configuration.md
  docs/identity-providers.md
  docs/operations/migration.md
  docs/operations/troubleshooting.md
  examples/02-realm-example.yaml
  examples/03-client-example.yaml
  examples/realm-with-azure-ad-idp.yaml
  examples/realm-with-custom-oidc-idp.yaml
  examples/realm-with-github-idp.yaml
  examples/realm-with-google-idp.yaml
  src/keycloak_operator/models/common.py
  tests/unit/test_models.py
Due: mkdocs-build

docs: rewrite charts README to remove token system
  charts/README.md
Due: none

feat(operator): require secret refs for IDP secrets
  examples/realm-with-azure-ad-idp.yaml
  examples/realm-with-custom-oidc-idp.yaml
  examples/realm-with-github-idp.yaml
  examples/realm-with-google-idp.yaml
  src/keycloak_operator/models/realm.py
  src/keycloak_operator/services/realm_reconciler.py
  tests/integration/test_identity_provider.py
Due: none

fix: replace old keycloak.mdvr.nl API group with vriesdemichael.github.io
  .github/ISSUE_TEMPLATE/issue.yml
  .github/workflows/ci-cd.yml
  TODO/authorizationSecretRef-cleanup-phase2.md
Due: none

docs: clean authorizationSecretRef from CRD reference docs
  docs/reference/keycloak-client-crd.md
  docs/reference/keycloak-realm-crd.md
Due: mkdocs-build

Path conditions:
  helm-lint: any of: ^charts/keycloak-operator/
  mkdocs-build: any of: ^(docs/|mkdocs\.yml)
  validate-decisions: any of: ^docs/decisions/.*\.yaml$
