Repository vriesdemichael/keycloak-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, mkdocs-build, validate-decisions

.pre-commit-config.yaml:

# Pre-commit hooks for code quality
# Install with: uv run pre-commit install
# Run manually: uv run pre-commit run --all-files

repos:
  # Ruff - Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # Type checking with ty (wraps Basedpyright) - MUST pass, not optional
  - repo: local
    hooks:
      - id: type-check
        name: type-check (ty)
        entry: uv run --group quality ty check
        language: system
        types: [python]
        pass_filenames: false
        always_run: true

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom YAML tags (e.g., CloudFormation)
        exclude: ^charts/.*/(crds|templates)/.*\.yaml$  # Exclude Helm templates
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Helm chart linting
  - repo: local
    hooks:
      - id: helm-lint
        name: helm lint
        entry: bash -c 'helm lint charts/keycloak-operator'
        language: system
        files: ^charts/keycloak-operator/
        pass_filenames: false

  # Documentation build check
  - repo: local
    hooks:
      - id: mkdocs-build
        name: mkdocs build
        entry: uv run --group docs mkdocs build
        language: system
        files: ^(docs/|mkdocs\.yml)
        pass_filenames: false

  # Decision Records validation
  - repo: local
    hooks:
      - id: validate-decisions
        name: validate decision records
        entry: uv run scripts/adr_validator.py --validate
        language: system
        files: ^docs/decisions/.*\.yaml$
        pass_filenames: false

  # Commit message format checking with scope validation
  - repo: local
    hooks:
      - id: validate-commit-message
        name: validate commit message
        entry: uv run python scripts/validate-commit-message.py
        language: system
        stages: [commit-msg]
        always_run: true

chore(main): release chart-operator 0.6.5
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release operator-image 0.9.4
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.9.4
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.6.6
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

feat(chart-operator+operator): fix read-only maintenance mode with path-targeted blocking, add ADR-089
  charts/keycloak-operator/crds/keycloak-crd.yaml
  docs/decisions/089-kc-hostname-strict-default.yaml
  src/keycloak_operator/models/keycloak.py
  src/keycloak_operator/utils/kubernetes.py
  tests/unit/test_blue_green_phase1.py
Due: helm-lint, mkdocs-build, validate-decisions

chore(main): release operator-image 0.9.5
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release chart-operator 0.6.7
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

fix(chart-operator): update for operator v0.9.5
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.6.8
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release operator-image 0.9.6
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.9.6
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.6.9
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release chart-operator 0.6.10
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release operator-image 0.9.7
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.9.7
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint

chore(main): release chart-operator 0.6.11
  .github/.release-please-manifest.json
  charts/keycloak-operator/CHANGELOG.md
  charts/keycloak-operator/Chart.yaml
Due: helm-lint

chore(main): release migration-toolkit 0.1.3
  .github/.release-please-manifest.json
  tools/migration-toolkit/CHANGELOG.md
Due: none

chore(main): release operator-image 0.9.8
  .github/.release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main): release migration-toolkit 0.1.4
  .github/.release-please-manifest.json
  tools/migration-toolkit/CHANGELOG.md
Due: none

fix(chart-operator): update for operator v0.9.8
  charts/keycloak-operator/Chart.yaml
  charts/keycloak-operator/values.yaml
Due: helm-lint
